[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gcmr"]
	path = gcmr
	url = https://github.com/cran/gcmr
[submodule "lacm"]
	path = lacm
	url = https://github.com/cran/lacm
